body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
#agent_profile_icon{
    background-color: #D7F1F9;
    color: white;
    border: 1px solid white;
}
#whole_body{
    /*border: 1px solid red;*/
    height: 100vh;
    margin: 0;
    position: relative;
    /*overflow: scroll;*/
    overflow-x: hidden;
    background-color: #f1f1f1;
}
::-webkit-scrollbar{
    height: auto;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    max-height: 25px;
    background-color: #86D5EE;
    border-radius: 20px;
}

#header{
    min-height: 56px;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 200;
    background-color: #87d0e999;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 4px 4px 8px -2px #d3dee2;
}
#header:hover{
    background-color: #87d0e999;
}
#top_home_div{
    /*border: 1PX solid red;*/
    height: 88%;
    z-index: 1;
    background-color: rgba(134, 208, 233, 0.8);
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: visible;
}

#footer{
    /*border: 1px solid red;*/
    bottom: 0;
    position: sticky;
    width: 100%;
    height: 7vh;
    background-color: white;
    box-shadow: 0 -4px 8px -2px #d3dee2;
    align-content: center;
    z-index: 200;
}
#footer_txt{
    /*border: 1px solid red;*/
    text-align: center;
    font-size: 13px;
    color: #86D5EE;
}

.header_division{
    /*border: 1px solid red;*/
    width: 50%;
    display: flex;
}
#site_text{
    /*border: 1px solid red;*/
    width: 30%;
    text-align: center;
    align-content: center;
    font-size: 28px;
    color: white;
    font-weight: bolder;
}

#second_part_header{
    align-items: center;
    justify-content: flex-start;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip-container .tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#third_part_header{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#saved_icon{
    margin-left: 5%;
}
.size-6{
    height: 30px;
    width: 30px;
}
#list_button{
    width: 140px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid white;
    color: #87d0e9;
    font-weight: 700;
    font-size: 18px;
    height: 40px;
    margin-left: 5%;
    
}
#list_button:hover{
    transition: transform ease-in-out 0.5s;
    opacity: 0.85;
    transform: scale(1.05);
}

.third_header_div_components{
    /*border: 1px solid red;*/
    width: 40px;
    height: 40px;
    color: #86D5EE;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F7F7F7;
}

.third_header_div_components:hover{
    background-color: #D7F1F9;
    /*border: 1px solid #86D5EE;*/
}

#first_part_header{
    /*border: 1px solid red;*/
    display: flex;
}

/*BODY*/
#body_div{
    /*border: 1px solid red;*/
    min-height: 83.5vh;
    margin-left: 3%;
    padding-bottom: 1%;
    display: flex;
    overflow-y: scroll;
}
#left_side{
    /*border: 1px solid red;*/
    min-width: 450px;
    max-width: 500px;
    min-height: 105vh;
}

#right_side{
    /*border: 1px solid red;*/
    width: 70vw;
}
#side_profile{
    border: 1px solid white;
    margin: 7%;
    height: 35vh;
    border-radius: 8px;
    background-color: white;
    box-shadow: 4px 4px 8px -2px #d3dee2;
}
#profile_icon{
    /*border: 1px solid red;*/
    height: 50%;
    align-content: center;
}
#verification_div{
    /*border: 1px solid red;*/
    margin-left: 1%;
    height: 20px;
    width: 20px;
    align-content: center;
    visibility: hidden;
    display: none;
}
#agent_profile_image_icon{
    border: 1px solid white;
    height: 120px;
    width: 120px;
    align-self: center;
    margin: auto;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    background-color: #B1E1F1;
}
.profile-icon{
    height: 50px;
    width: 50px;
    color: #87d0e9;
    color: white;
}

#agent_name_no{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 11%;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*font-size: 18px;*/
    font-weight: bold;
    display: flex;
}
#agent_name_txt{
    /*border: 1px solid red;*/
}
#agent_tel_no{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 7%;
    text-align: center;
    font-size: 18px;
    color: #838383;
}
#agent_email{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 7%;
    text-align: center;
    font-size: 13px;
    color: #838383;
    display: flex;
    justify-content: center;
    align-items: center;
}
#agent_activity_since{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 7%;
    text-align: center;
    font-size: 11px;
    color: #3CB371;
    display: flex;
    justify-content: center;
    align-items: center;
}
#town_name{
    font-size: 15px;
}
#state_name{
    font-size: 12px;
    /*border: 1px solid black;*/
    justify-items: flex-end;
    bottom: 0;
    right: 0; 
    margin: 1px;
    
}
#country_name{
    font-size: 10px;
}
.location_div{
    /*border: 1px solid red;*/
    height: 25px;
    align-content: flex-end;
    text-align: center;
    margin: 1px;
}


#agent_rating{
    /*border: 1px solid red;*/
    height: 10vh;
    margin: 0 7% 0 7%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 8px -2px #d3dee2;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    color: #616161;
}
#agent_rating:hover{
    color: #86D5EE;
}
#out_of_txt{
    /*border: 1px solid red;*/
    /*width: 30%;*/
    text-align: center;
    padding-bottom: 2%;
    font-size: 20px;
    font-weight: 800;
    min-height: 40px;
    align-content: flex-end;
    margin: 10px;
}
#final_score{
    /*border: 1px solid red;*/
    /*width: 30%;*/
    min-height: 40px;
    text-align: center;
    align-content: flex-end;
    font-size: 35px;
    font-weight: 800;
}

#whole_profile_div{
    height: 50vh;
    width: 80%;
    border-radius: 8px;
    margin: 3% 7%;
    background-color: white;
    border: 1px solid white;
    box-shadow: 4px 4px 8px -2px #d3dee2;
}
#other_agent_listings{
    min-height: 50vh;
    width: auto;
    border-radius: 8px;
    margin: 3% 1% 1% 3%;
    /*background-color: white;
    border: 1px solid red;
    /*box-shadow: 4px 4px 8px -2px #d3dee2;*/
}
.profile_div{
    /*border: 1px solid red;*/
    width: 90%;
    height: 11%;
    margin: 1% 1% 0 2%;
    display: flex;
    border-bottom: 1px solid #f1f1f1;
}
#first_name_div{
    margin-top: 1%;
}
#profile_body{
    /*border: 1px solid red;*/
    height: 60%;
    margin: 1%;
    align-content: center;
}
.profile_txt{
    /*border: 1px solid red;*/
    width: 25%;
    align-content: center;
    padding-left: 1%;
    font-size: 17px;
    color: #616161;
}
.profile_data{
    /*border: 1px solid red;*/
    width: 30%;
    align-content: center;
    padding-left: 1%;
    font-size: 15px;
    color: #838383;
}
#mark_as_read:hover{
    opacity: 0.70;
}

#no_nots_emoji{
    /*border: 1px solid red;*/
    height: 80%;
    width: 26%;
    background-image: url('../images/no_notifs.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    justify-self: center;
}
#no_nots_text{
    /*border: 1px solid red;*/
    height: 20%;
    width: 40%;
    align-content: end;
    text-align: center;
    margin: auto;
    color: #838383;
    font-size: 12px;
}


.other_agent_properties{
    /*border: 1px solid red;*/
    margin: 7%;
    height: auto;
    border-radius: 8px;
    background-color: white;
    border: solid 1px white;
    box-shadow: 4px 4px 8px -2px #d3dee2;
    color: #86D5EE;
}
#rating_div{
    height: 120px;
}
#profile_bio_head{
    color: #86D5EE;
    margin: 1%;
    padding-left: 1%;
    border-bottom: 1px solid #F7F7F7;
}
#agent_bio{
    /*border: 1px solid red;*/
    margin: 1%;
    min-height: 100px;
    display: flex;
    /*align-items: center;*/
    font-size: 13px;
    padding: 1%;
    color: #616161;
}
#agent_rating_div {
    height: 75px;
    /*font-size: 1rem;*/
    color: #3CB371; /* Medium Sea Green for rating */
    font-weight: bold;
    padding: 4px 8px;
    /*background-color: #e6fff2;*/
    border-radius: 6px;
    display: flex;
    /*font-size: 20px;*/
}
#rating_number{
    /*border: 1px solid red;*/
    display: flex;
    height: 60px;
    width: 80px;
}
#rating_stars_and_amount{
    /*border: 1px solid red;*/
    height: 60px;
    width: 80%;
}
#number_of_raters{
    /*border: 1px solid red;*/
    display: flex;
    height: 44%;
}
.head-icon{
    height: 20px;
    fill: #e6fff2;
}
#rate_total{
    /*border: 1px solid red;*/
    font-weight: 500;
    font-size: 15px;
    width: auto;
    padding-left: 1%;
    color: #86D5EE;
}
#rate_total_people{
    /*border: 1px solid red;*/
    align-content: center;
    color: #86D5EE;
    padding-left: 1%;
    font-weight: 500;
    font-size: 12px;
}

.rat_amount_class{
    /*border: 1px solid red;*/
    width: 31%;
    font-size: 25px;
    text-align: center;
}
#total_score{
    width: auto;
}

.property_icon{
    /*border: 1px solid red;*/
    height: 30px;
    width: 40px;
    padding-left: 1%;
}
.other-icon{
    height: 30px;
    color: #838383;
}
.property_name{
    font-size: 16px;
    padding-left: 1%;
    color: #838383;
}

#top_activities_div{
    /*border: 1px solid red;*/
    width: 96%;
    height: 11%;
    margin: 1% 1% 0 2%;
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid #f1f1f1;
    align-items: center;
    color: #616161;
}
#landing_body_div{
    /*border: 1px solid black;*/
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    overflow: hidden;
    margin: 1% ;
    gap: 2%;
    justify-content: start;
}
.listing_overview_container{
    border: 1px solid #f1f1f1;
    height: 350px;
    margin: 2% 1% 2% 1%;
    width: 280px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 8px -2px #d3dee2;
    cursor: pointer;
}
.listing_overview_container:hover {
    transition: transform ease-in-out 1s;
    transform: scale(1.05);
    color: #86D5EE;
    border: solid 1px #86D5EE;
    z-index: 1;
}

.listing_image_div{
    /*border: 1px solid red;*/
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    min-height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
}
.distance_div{
    /*border: 0.5px solid #30B3DE;*/
    margin: 2%;
    min-width: 18%;
    padding: 0% 2px 0% 2px;
    height: 20px;
    border-radius: 8px;
    float: right;
    font-size: 10px;
    text-align: center;
    align-content: center;
    background-color: white;
    font-weight: bold;
    box-shadow: 2px 2px 8px -2px #d3dee2;
    color: #87d0e9cc;
    color: rgb(0, 0, 0, 0.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#distance_item{
    /*border: 0.5px solid #30B3DE;*/
    margin: 2%;
    min-width: 18%;
    padding-left: 1%;
    padding-right: 1%;
    height: 20px;
    border-radius: 8px;
    float: right;
    font-size: 10px;
    text-align: center;
    align-content: center;
    background-color: white;
    font-weight: bold;
    box-shadow: 2px 2px 8px -2px #d3dee2;
    color: #87d0e9cc;
    color: rgb(0, 0, 0, 0.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.listing_location_div{
    /*border: 1px solid red;*/
    margin-left: 1%;
    margin-right: 1%;
    height: 6%;
    display: flex;
    font-size: 12px;
    align-items: center;
    color: #9b9b9b;
}
.location_icon{
    /*border: 1px solid red;*/
    width: auto;
    height: 99%;
    font-size: 15px;
    align-content: flex-end;
    
}
.county_location_name{
    /*border: 1px solid red;*/
    height: 99%;
    align-content: flex-end;
    width: auto;
    padding: 1%;
}
.location_location_name{
    /*border: 1px solid red;*/
    height: 99%;
    align-content: flex-end;
    padding-left: 1%;
    width: auto;
    font-size: 9px;
}
.amenities_div{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 5%;
    display: flex;
    gap: 2px;
    color: #9b9b9b;
    align-content: center;
    font-size: 12px;
    
}
.comma{
    /*border: 1px solid red;*/
    width: auto;
    color: #9b9b9b;
    min-width: 3%;
    font-weight: 600;
}
.baths_div{
    /*border: 1px solid red;*/
    margin-left: 1%;
    width: auto;
    min-width: 13%;
}
.baths_amt{
    /*border: 1px solid red;*/
    width: auto;
}

.room_div{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 5%;
    display: flex;
    gap: 2px;
    color: #9b9b9b;
    align-content: center;
    font-size: 12px;
}

.room_div_txt{
    /*border: 1px solid red;*/
    width: auto;
    min-width: 13%;
    margin-left: 1%;
}
.room_amt{
    /*border: 1px solid red;*/
    
}
.price_per_night{
    /*border: 1px solid red;*/
    margin: 1%;
    margin-top: 0;
    height: 10%;
    display: flex;
    color: #9b9b9b;
    gap: 1%;
}
.listing_name{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 10%;
    align-content: center;
    font-size: 20px;
    color: #898989;
    display: flex;
}
.listing_name_div{
    /*border: 1px solid red;*/
    margin: 1%;
    align-content: center;
    font-weight: 900;
    font-size: 15px;
    color: #898989;
    min-width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listing_type{
    /*border: 1px solid red;*/
    margin: 1%;
    align-content: center;
    font-size: 8px;
    font-weight: 600;
    margin-left: 12%;
    color: #86D5EE;
    min-width: 20%;
    text-align: center;
}
.verification_div{
    /*border: 1px solid red;*/
    margin: 1%;
    margin-top: 0;
    align-content: center;
    text-align: center;
    font-size: 8px;
    font-weight: 600;
    margin-left: 1%;
    color: #1DA1F2;
    width: 34px;
    height: 34px;
    font-weight: 700;
}


.from_text{
    /*border: 1px solid red;*/
    align-content: flex-end;
    font-size: 14px;
    padding-left: 1%;
}
.amount_text{
    /*border: 1px solid red;*/
    align-content: flex-end;
    color: #000;
    /*width: 40%;*/
    font-weight: 800;
    gap: 2%;
    font-size: 18px;
}
.per_night_txt{
    /*border: 1px solid red;*/
    align-content: flex-end;
    font-size: 14px;
}

.like_button_div{
    /*border: 1px solid red;*/
    margin-left: 1%;
}
.price_amount{
    /*border: 1px solid red;*/
    width: 75%;
    display: flex;
    gap: 2%;
}


#whole_profile_div_edit{
    /*border: 1px solid red;*/
    display: none;
    position: absolute;
    height: 55vh;
    width: 56%;
    border-radius: 8px;
    margin: 2% 5%;
    background-color: white;
    /*border: 1px solid white;*/
    box-shadow: 4px 4px 8px -2px #d3dee2;
    overflow: hidden;
    z-index: 105;
}
.profile_data_edit{
    border: 1px solid white;
    /*border-bottom: 1px solid #86D5EE;*/
    width: 30%;
    align-content: center;
    padding-left: 1%;
    font-size: 15px;
    color: #838383;
    outline: none;
}
#update_edit_button{
    height: 90%;
    width: 100px;
    min-width: 50px;
    margin-left: 1%;
    background-color: #86D5EE;
    border: 1px solid #87d0e9;
    font-weight: 700;
    border-radius: 8px;
    color: white;
}
#update_edit_button:hover{
    opacity: 0.70;
}
#gender_select{
    background-color: white;
}

#overlay {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    z-index: 100;
    display: none; 
}

/*LISTING REPORT DIV*/
#listing_top{
    /*border: 1px solid red;*/
    margin: 1%;
    height: 8%;
    display: flex;
    border-bottom: 1px solid #EBEBEB;
}
#listing_id{
    /*border: 1px solid red;*/
    align-content: center;
    padding-left: 1%;
    color: #9b9b9b;
    width: 95%;
}
#exit_edit_button{
    width: 30px;
    border-radius: 50%;
    align-self: center;
    height: 30px;
    align-content: center;
    text-align: center;
    font-size: 24px;
    color: #898989;
    
}
#exit_edit_button:hover{
    color: #000;
    transform: scale(0.95);
}
#report_div{
    /*border: 1px solid red;*/
    height: 75%;
    margin: 1%;
    border-bottom: 1px solid #EBEBEB;
}
#profile_data_info{
    /*border: 1px solid #86D5EE;*/
    border-bottom: 1px solid #EBEBEB;
    margin: 1%;
    height: 70%;
    border-radius: 9px 9px 0px 0px;
    color: #9b9b9b;
    width: 95%;
    padding: 1%;
    outline: none;
}


#rating_stars{
    /*border: 1px red solid;*
    height: 40%;
    min-width: 38%;
    max-width: 54%;
    text-align: start;
    align-items: center;
    justify-content: space-around;
}
.star-rating__stars {
    display: flex;
    /*flex-direction: row-reverse;*/
    gap: 6px;
    padding-left: 1%;
}

.star-rating__input {
    display: none;
}

.star-rating__label svg {
    width: 24px;
    height: 24px;
    fill: #9b9b9b;
    color: #9b9b9b;
    transition: fill 0.2s;
    cursor: pointer;
}
.star-rating__input:checked ~ .star-rating__label svg {
    fill: gold;
    color: gold;
}
#ad_amounts{
    margin-left: 1%;
}